[Unit]
Description = deployment system
After=network.target

[Service]
Type=simple
ExecStart=/home/matt/deployment/deployment_agent.php
User=matt
Restart=always
RestartSec=1
[Install]
WantedBy=multiuser.target
